* {
  box-sizing: border-box;
  /*border: 1px solid red;*/
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
  background: black;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
  width:100%;
}

.navbar__container {
  display: flex;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.logo-and-bubble{
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 0.2rem;
}

#main__imgB{
  height: 100px;
  width: 100px;
}

#navbar__logo {
  background-color: white;
  background-image: linear-gradient(to top, #1062B8 15%, white 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  cursor: pointer;
  text-decoration: none;
  font-size: 3rem;
  position: relative;
  margin-left: 1rem; 
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  background: black;
}

.nav__btn {
  font-size: 1.25rem;
  background-image: linear-gradient(to top, #EC553E 15%, white 100%);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  position: relative;
  z-index: 2;
  text-decoration: none;
}

.nav__btn:after{
  position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #22F1F0;
    transition: all 0.35s;
    border-radius: 4px;
   
}

.button:hover {
  color: #b12a5b;
  transition: all 0.35s;
}

.nav__btn:hover:after {
  width: 100%;
}

.navbar__links:hover {
  color: #22F1F0;
  transition: all 0.3s ease;
}



@media screen and (max-width: 900px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .logo-and-bubble{
    padding-left: 2rem;
    
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    right: -100%;
    top: 200%;
    opacity: 0;
    transition: all 0.8s ease;
    height: 0;
    overflow: hidden;
    z-index: 1;
    visibility: hidden;
  }
  
  .navbar__menu.active {
    background-image: linear-gradient(to top, #1062B8 5%, black 90%);
    top: 100%;
    right: 0;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 99;
    height: 80vh; 
    font-size: 1.6rem;
    visibility: visible;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px ;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .pck{
    padding: 2rem;
    width: 100%;
    display: table;
    font-size: 1.6rem;
    height: 95px;
    
  }

  .popup{
    z-index: 999;
  }

  .navbar__btn {
    padding-bottom: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    margin: 0;
  }

  .nav__btn{
    height: 70px;
    width: 80%;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media screen and (max-width: 340px) {
  
  #main__imgB{
    height: 43px;
    width: 45px;
  }
  
  #navbar__logo {
    font-size: 2.5rem;
    position: relative;
    margin-left: .5rem; 
  }
  
}
  
/* Main Content CSS */
.main {
  background-color: #1DC9E0;
}

.main__container {
  display: flex;
  flex-direction: row-reverse; /*change flex direction to row-reverse*/
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #1062B8;
  z-index: 1;
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 1rem;
}

.main__container > * {
  flex: 1;
}
.main__content {
  color: #fff;
  width: 100%;
  
}

.main__content h1 {
  font-size: 4rem;
  background-image: linear-gradient(to bottom, #EC553E 55%, #22F1F0 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  padding-top: 2rem;
}

.main__content h2 {
  font-size: 3rem;
  margin-top: 10px;
  background-image: linear-gradient(to top, #EC553E 15%, #22F1F0 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main__content p {
  margin-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  width: 100%;
  border-bottom: 0; 
}

.main__buttons {
  display: inline-block;
  font-size: 1.5rem;
  border: none;
  border-radius: 4px;
  margin: 1.5rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main__buttons:nth-of-type(1){
  background-image: linear-gradient(to top, #EC553E 15%, white 100%);
  padding: 14px 32px;
}

.main__buttons:nth-of-type(2){
  background-image: radial-gradient(circle , #f124d2 10%, white 15%, rgb(227, 37, 164) 20%, rgb(227, 37, 164) 40%, white 45%, rgb(227, 167, 37) 50%, rgb(135, 27, 181) 100%);
  padding: 14px 32px;
}

.main__buttons a {
  position: relative;
  font-size: 2rem;
  z-index: 3;
  text-decoration: none;
}

.main__buttons:nth-of-type(1) a{
  color: black;
}

.main__buttons:nth-of-type(2) a{
  color: black;
}

.main__buttons:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #22F1F0;
  transition: all 0.35s;
  border-radius: 4px;
}

.main__buttons a:hover {
  color: #b12a5b;
  transition: all 0.35s;
}

.main__buttons:hover:after {
  width: 100%;
  height: 100%;
}

.main__img--container {
 text-align: center;
  justify-content: center;
  max-width: 800px;
  max-height: 800px;
}

.main__img--container img{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#main__img {
  height: 70%;
  width: 70%;
  padding-bottom: 2rem;
  
}

  
/* Mobile Responsive */
@media screen and (max-width: 1400px) {

  .main__content {
    text-align: center;
    margin-bottom: 0rem;
  }

  .main__content h1 {
    font-size: 4rem;
    margin-top: 1rem;
  }

  .main__content h2 {
    font-size: 2.5rem;
  }

  .main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  .main__img--container{
    padding-top: 2rem;
  }

  .main__buttons a{
    font-size: 1.8rem;
  }

}

@media screen and (max-width: 900px) {
  .main__container {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    height: 100%;
  }

  .main__content {
    text-align: center;
  }

  .main__content h1 {
    font-size: 3.5rem;
    margin-top: 1rem;
  }

  .main__content h2 {
    font-size: 3rem;
  }

  .main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  .main__img--container{
    padding-top: 1rem;
  }

  .main__img--container img{ 
    object-fit: cover;
  }
  
  
}
  
@media screen and (max-width: 770px) {
  .main__container{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    height: 100%;
  }
  
  .main__content h1 {
    font-size: 3rem;
    margin-top: 2rem;
  }

  .main__content h2 {
    font-size: 2rem;
  }

  .main__content p {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .main__buttons {
    padding: 12px 20px;
    margin: 1rem 1rem;
  }

  .main__buttons a{
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 540px) {
  
  .main__content h1 {
    font-size: 3rem;
  }

  .main__content h2 {
    font-size: 2rem;
  }

  .main__content p {
    font-size: 1.5rem;
  }

  .main__img--container{
    height: 400px;
    width: 400px;
  }
}


@media screen and (max-width: 414px) {
  .main__container{
    height: 100%;
  }
  
  .main__content h1 {
    font-size: 3rem;
  }

  .main__content h2 {
    font-size: 2rem;
  }

  .main__content p {
    font-size: 1.5rem;
  }

}

@media screen and (max-width: 390px) {
  .main__container {
    height: 100%;
    width: 100%;
    padding: 0;
  }
  
  .main__content {
    width: 100%;
    box-sizing: border-box;
    padding: 0 1rem;
  }

  .main__content h1 {
    font-size: 3rem;
  }

  .main__content h2 {
    font-size: 2rem;
  }

  .main__content p {
    font-size: 1.5rem;
  }
}


@media screen and (max-width: 375px) {
  .main__container{
    height: 100%;
  }
  
  .main__content h1 {
    font-size: 3rem;
  }

  .main__content h2 {
    font-size: 2rem;
  }

  .main__content p {
    font-size: 1.5rem;
  }

  .main__buttons {
    padding: 12px 36px;
    margin: 1rem 1rem;
  }
}

@media screen and (max-width: 360px) {
  .main__container{
    height: 100%;
    width: 100%;
  }
}

/*services sections css*/
.services {
  background: #1062B8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100%;
  padding-bottom: 2rem;
}

.services h1 {
  background-color: #ff8177;
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 100%,
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.services__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.services__card {
  margin: 1rem;
  height: 525px;
  width: 400px;
  border-radius: 4px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(17, 17, 17, 0.6) 100%
    ),
    url('redinterior.jpg');
  background-size: cover;
  position: relative;
  color: #fff;
  box-shadow:  0px 10px 30px 0px  black;
}

.services__card:nth-child(2){
  background-image: linear-gradient(to
  bottom, rgba(0,0,0,0) 0%, 
  rgba(17, 17, 17, 0.6) 100%
  ), 
  url('hellcatWhite.jpg');
  background-size: cover;
  box-shadow: 4px 7px 30px black;
}

.services h2{
  color: white ;
  text-shadow: 7px 5px 9px rgb(0, 0, 0);
  position: absolute;
  top: 350px;
  left: 30px;
}

.services__card p {
  position: absolute;
  top: 385px;
  left: 30px;
}

.services__card button {
  color: black;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: yellow;
  position: absolute;
  top: 415px;
  left: 30px;
  font-size: 1rem;
  cursor: pointer;
}

.services__card:hover{
  transform: scale(1.075);
  transition: 0.2s ease-in;
  cursor: pointer;
}

@media screen and (max-width: 960px){
  .services {
    height: 100%;
  }
  .services h1 {
    font-size: 2.5rem;
    text-align: center;
    width: 100%;
  }
  .services__container{
    width: 100%;
    height: 100%;
  }
  .services__card{
    width: 350px;
    height: 400px;
    margin: 0.5rem
  }

  .services__card h2{
    top:250px;
    font-size: 1.2rem;
  }
  .services__card p{
    top:290px;
    font-size: 1.2rem;
  }
  .services__card button{
    top:350px;
  }
}

@media screen and (max-width: 800px){
  .services h1 {
    font-size: 2rem;
  }
  .services__container{
    width: 100%;
  }
  .services__card{
    width: 250px;
    height: 400px;
  }

  .services__card h2{
    top:250px;
    font-size: 1.2rem;
   
  }
  .services__card p{
    top:300px;
    font-size: 1.2rem;
  }
  .services__card button{
    top:350px;
  }
}

@media screen and (max-width: 600px)  {
  .services{
    height:100%;
  }
  
  .services h1 {
    font-size: 2rem;
  }
  .services__card {
    width: 170px;
    height: 300px;
  }

  .services__card h2 {
    top: 150px;
    font-size: 1rem;
  }
  .services__card p {
    top: 190px;
    font-size: 1rem;
  }
  .services__card button {
    top: 240px;
  }
}

@media screen and (max-width: 414px)  {
  .services__card {
    width: 170px;
    height: 300px;
  }

  .services__card h2 {
    top: 150px;
    font-size: 1rem;
  }
  .services__card p {
    top: 190px;
    font-size: 1rem;
  }
  .services__card button {
    top: 240px;
  }
}

@media screen and (max-width: 390px)  {
  .services{
    height:100%;
    width:100%;
    padding: 0;
  }
  
  .services h1 {
    font-size: 1.8rem;
  }
  .services__card {
    width: 170px;
    height: 300px;
  }

  .services__card h2 {
    top: 150px;
    font-size: 1rem;
  }
  .services__card p {
    top: 190px;
    font-size: 1rem;
  }
  .services__card button {
    top: 240px;
  }
}

@media screen and (max-width: 360px)  {
  .services{
    height:100%;
    width: 100%;
  }

  .services__container {
    width: 100%;
    height: 100%;
  }
  .services__card {
    width: 150px;
    height: 300px;
  }

  .services__card h2 {
    top: 150px;
    font-size: 1rem;
  }
  .services__card p {
    top: 190px;
    font-size: 1rem;
  }
  .services__card button {
    top: 240px;
    padding: 6px 12px;
  }
}

/* Footer CSS */
.footer__container{
  background-color: #141414;
  padding: 1rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer__logo{
  color:white;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  height: auto;
}

.footer__links{
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
}

.footer__link--wrapper{
  display: flex;
}

.footer__link--items{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin: 2rem;
  box-sizing: border-box;
}

.footer__link--items h2{
  margin-bottom: .5rem;
}

.footer__link--items > h2{
  color: white;
}

.footer__link--items a {
  color: white  ;
  text-decoration: none;
  margin-bottom: 1rem;
}

.footer__link--items a:hover{
  cursor: pointer;
  color: #22F1F0;
  transition: all 0.3s ease-in-out;
}

/* Social Icons */

.social__icon--link{
  color: white;
  font-size: 24px;
}

.social__media{
  max-width: 1000px;
  width: 100%;
}


.social__media--wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 150px auto 0 auto;
}

.social__icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.social__logo{
  color: white;
  justify-self: flex-start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.website__rights{
  color: white;
}

@media screen and (max-width: 820px) {
  .footer__container{
    height: 100%;
    width: 100%;
  }
  .footer__link{
    width: 100%;
    padding-top: 2rem;
  }
  .footer__link--items{
    margin: 0;
    padding: 10px;
    width: 100%;
  }

  #footer__logo{
    margin-bottom: 2rem;
  }

  .website__rights{
    margin-bottom: 2rem;
  }

  .footer__links--wrapper{
    flex-direction:column;
    width: 100%;
  }

  .social__media--wrap{
    flex-direction: column;
  }


}

@media screen and (max-width: 600px) {
  .footer__container{
    width: 100%;
  }

  #footer__logo{
    margin-bottom: 1rem;
  }

  .website__rights{
    margin-bottom: 1rem;
  }

  .footer__links--wrapper{
    flex-direction:column;
  }

  .social__media--wrap{
    flex-direction: column;
  }

}

@media screen and (max-width: 480px) {
  .footer__link--items{
    margin: 0;
    padding: 10px;
    width: 100%;
  }

}

@media screen and (max-width: 414px) {

  #footer__logo{
    margin-bottom: 1rem;
  }

  .website__rights{
    margin-bottom: 1rem;
  }

  .footer__links--wrapper{
    flex-direction:column;
  }

  .social__media--wrap{
    flex-direction: column;
  }

}

@media screen and (max-width: 375px) {
  #footer__logo{
    margin-bottom: 1rem;
  }

  .website__rights{
    margin-bottom: 1rem;
  }

  .footer__links--wrapper{
    flex-direction:column;
  }

  .social__media--wrap{
    flex-direction: column;
  }

}

@media screen and (max-width: 360px) {
  .footer__link--items{
    margin: 0;
    padding: 10px;
    width: 100%;
    margin: .2rem;
    padding: 0;
  }
  .footer__link--items h2{
    font-size: 1rem;
  }
  .footer__link--items a{
    font-size: .8rem;
  }

}

/* GALLERY */
.gallery__title{
  background-color: #1062B8;
}
.gallery__title h2{
  font-size: 3rem;
  background-image: linear-gradient(to top, #1062B8 0%, white 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/*Update styles for the main gallery container */
.main-gallery-container {
  background-color: #1062B8;
  position: relative;
  width: auto;
  padding-bottom: 2rem;
}

.gallery__container img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}


.gallery__mySlides img {
  max-width: 1000px;
  height: 600px;
  object-fit: cover;
  
}


/* Position the image container (needed to position the left and right arrows) */
.gallery__container {
  background-color: #1062B8;
  position: relative;
  width: auto;
}

/* Hide the images by default */
.gallery__mySlides {
  display: none;
}


/* Next & previous buttons */
.gallery__prev,
.gallery__next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.gallery__next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.gallery__prev:hover,
.gallery__next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* About Page */

.about__main {
  background-color: #1DC9E0;
}

.about__container {
  display: grid;
  align-items: center;
  justify-self: center;
  height: auto ;
  background-color: #1062B8;
  z-index: 1;
  width: 100%;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
}

.about__content {
  color: #fff;
  text-align: center;
  width: 100%;
  
}

.about__content h1 {
  font-size: 3rem;
  background-image: linear-gradient(to top, #1062B8 0%, white 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.about__content h2 {
  font-size: 2rem;
  margin-top: 10px;
  background-image: linear-gradient(-20deg, #EC553E 15%, #22F1F0 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.about__content p {
  margin-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
  width: 100%;
  border: none;
}

.employees h1{
  font-size: 2rem;
  background-image: linear-gradient(to top, #1062B8 0%, white 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.employees h2{
  font-size: 1.5rem;
  margin-top: 3px;
  background-image: linear-gradient(-20deg, #EC553E 15%, #22F1F0 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.employees p {
  color: white;
  font-size: 1.3rem;
}

/*Packages Page*/

.packages__container{
  background-color: #1062B8;
  position: relative;
  width: auto;
}

.packages__container h2 {
  font-size: 24px;
  margin-top: 30px;
}

.packages__container table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.packages__container th,
.packages__container td {
  width: 10%;
}

.packages__container th:nth-child(2),
.packages__container td:nth-child(2),
.packages__container th:nth-child(3),
.packages__container td:nth-child(3),
.packages__container th:nth-child(4),
.packages__container td:nth-child(4) {
  text-align: right;
}

.packages__container th, td {
  padding: 10px;
  text-align: left;
  align-items: center;
  color:#fff;
  border-bottom: 1px solid #22F1F0;
}

.packages__container th {
  background-color: #cf556c;
}

.packages__container p {
  margin-bottom: 20px;
}

/* Custom Styling */
.packages__container {
  background-color: #1062B8;
  padding: 20px;
}

.packages__container h2 {
  color: #fff;
  margin-bottom: 10px;
}

.packages__container table {
  margin-bottom: 30px;
}

.packages__container th {
  background-color: #141414;
  font-weight: bold;
}

.packages__container td {
  font-weight: normal;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .container {
    padding: 10px;
  }
  
  .packages__container h2 {
    font-size: 20px;
  }
  
  .packages__container table {
    font-size: 14px;
  }
  
  .packages__container p {
    font-size: 14px;
  }
}
